<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/head.html}"></head>
    <body>
        <div class="container p-4">
            <div class="d-flex flex-column align-items-center">
                <h1>Cette page n'existe pas.</h1>
                <a href="/microservice-frontend/patient-list" class="d-block text-center"><button type="button" class="btn btn-secondary">Retourner à la liste des patients</button></a>
            </div>
        </div>
    </body>
</html>